%form{:action=>"/meetings", :method=>"post", :class=>"add_form" }
  %span{:class=>"label"} Topic:
  %input{:type => "text", :name => "topic", :class => "text"}
  %br
  %span{:class=>"label"} Kind:
  %input{:type =>"text", :name=>"kind", :class=>"text"}
  %br
  %span{:class=>"label"} Date:
  %input{:type=>"text", :name=>"date", :class=>"text,datepicker"}
  %br
  %span{:class=>"label"} Time (if other than 5:30pm):
  %input{:type=>"text", :name=>"time", :class=>"text"}
  %br
  %span{:class=>"label"} Speaker Name:
  %input{:type=>"text", :name=>"speaker_name", :class=>"text"}
  %br
  %span{:class=>"label"} Speaker Job:
  %input{:type=>"text", :name=>"speaker_job", :class=>"text"}
  %br
  %span{:class=>"label"} Where:
  %select{:name=>"where"}
    %option new horizons
    %option panera bread
    %option other
  %br
  %span{:class=>"label"} Location Name (if other):
  %input{:type=>"text", :name=>"location_name", :class=>"text"}
  %br
  %span{:class=>"label"} Location Map (if other):
  %textarea{:type=>"text", :name=>"location_map", :class=>"text"}
  %br
  %input{:type=>"submit", :value=>"Add", :class=>"button"}
