#middle
  %p.about 
    Welcome to Alamo Coders.  We are a 
    %span FREE
    San Antonio area IT professionals Users Group that focus on the tools, technologies, and programming languages that help a software developer/architect/manager in today's industry. If you would like to learn more about software development or the tools that are involved in that process, or if you just want to learn more about what Alamo Coders has to offer the San Antonio area IT community, then please join our group.
  %p 
    Follow our 
    %a{:href=>'http://twitter.com/alamocoders', :target => '_blank'} @alamocoders 
    Twitter account and subscribe to our 
    %a{:href=>'http://groups.google.com/group/alamocoders', :target => '_blank'} group
    to receive updates
  %p.dotline
  %h3 Upcoming Meetings
  %br
  = partial :meeting_kind , :locals=>{:next_meeting => @next_dotnet_meeting}
  %p.dotline
    %img{:src=>"images/blank.gif", :width => "40", :height => "1", :alt => ""}
  %br
  = partial :meeting_kind , :locals=>{:next_meeting => @next_ruby_meeting}
  %p.dotline
    %img{:src=>"images/blank.gif", :width => "40", :height => "1", :alt => ""}
  %br
  .middle_left
    .meeting
      %p
      %span Meeting Type:
      Book Club
      %br
      %span Topic:
      bring a book you want to discuss
      or just don't bring anything and chat
      %br
      %span When and Where:
      Sunday April 17, 2011 3:00pm at <a href="http://maps.google.com/maps/place?cid=6039868346057009107&q=panera+bread&gl=us&dtab=0&sll=29.485353,-98.524181&sspn=0.146956,0.135911&ie=UTF8&ll=29.632562,-98.678513&spn=0,0&z=12">Panera Bread on I10</a>
  %p.dotline
    %img{:src=>"images/blank.gif", :width => "40", :height => "1", :alt => ""}
