%h2 History
%p In 2007 this group was established by a few very passionate software developers
%p.dotline
  %img{:src=>"images/blank.gif", :width => "40", :height => "1", :alt => ""}
%h2 Meeting Information
%p
  Meetings are held every 2nd Wednesday of the month at the
  %a{:href=> 'http://www.google.com/url?sa=D&q=http://www.google.com/maps%3Fq%3D2727%2BNW%2BLoop%2B410,%2BSuite%2B103%26hl%3Den%26sll%3D29.494149,-98.56041%26sspn%3D0.059243,0.095015%26vpsrc%3D0%26t%3Dm%26z%3D18%26iwloc%3DA&usg=AFQjCNFvNUcWEHgI5F1vWAnJ3ToHYL2glQ', :target => '_blank'} New Horizons
  %br
  5:30pm - meet and greet, food/drink
  %br
  5:45pm - presentation
  %br
  meet and greet, questions after presentation
  %br
  %br
%p.dotline
  %img{:src=>"images/blank.gif", :width => "40", :height => "1", :alt => ""}
%h2 Directors
%p 
  Ryan Svihla (
  %a{:href=>'http://twitter.com/rssvihla', :target => '_blank'} @rssvihla
  )
  %br
  Jasdeep Singh (
  %a{:href=>'http://twitter.com/jssingh', :target => '_blank'} @jssingh
  )
  %br
  Phil Dennis (
  %a{:href=>'http://twitter.com/pjdennis', :target => '_blank'} @pjdennis
  )
  %br
  %br
%p.dotline
  %img{:src=>"images/blank.gif", :width => "40", :height => "1", :alt => ""}
%h2 Former Directors
%p
  Jason Meridth (founder) (
  %a{:href=>'http://twitter.com/jmeridth', :target => '_blank'} @jmeridth
  )
  %br
%p.dotline
  %img{:src=>"images/blank.gif", :width => "40", :height => "1", :alt => ""}

