!!!
%html
  %head
    %title AlamoCoders
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=iso-8859-1"}
    %meta{:name=>"author", :content=>"AlamoCoders - alamocoders.org"}
    %meta{:name=>"keywords", :content=>"San Antonio, AlamoCoders, User Group, Software Development"}
    %meta{:name=>"description", :content=>"AlamoCoders - San Antonio Software Developers Users Group"}
    %meta{:name=>"google-site-verification", :content=>"hu7YGEQ08KSEWUXUjMtz9piULXnHLDK8KEkxt-T15eY"}
    %link{:rel=>"stylesheet", :type=>"text/css", :href=>'/css/style.css'}
  %body
    #topPanel
      #left
      %a#alamocoders{:href=>'/'}
        %span.alt alamocoders
      %ul
        %li
          %a{:href=>'mailto:admin@alamocoders.org'} Contact
        %li
          %a{:href=>'http://groups.google.com/group/alamocoders'} Join
        %li
          %a{:href=>'/sponsors'} Sponsors
        %li
          %a{:href=>'/meetings'} Meetings
        %li
          %a{:href=>'/information'} Information
        %li
          %a{:href=>'/'} Home
  #bodyPanel
    = yield
  #footerPanel
    #footerbodyPanel
      %ul.links
        %li
          %a{:href=>'/'} Home
          |
        %li
          %a{:href=>'/information'} Information
          |
        %li
          %a{:href=>'/meetings'} Meetings
          |
        %li
          %a{:href=>'http://groups.google.com/group/alamocoders'} Join
          |
        %li
          %a{:href=>'/sponsors'} Sponsors
          |
        %li
          %a{:href=>'mailto:admin@alamocoders.org'} Contact
      %br
      %p.copyright © alamocoders all right reserved
      %ul.templateworld
        %li Design By:
        %li
          %a{:href=>'http://www.templateworld.com', :target => '_blank'} Template World
      #footerhtmlPanel
        %a{:href=>'http://validator.w3.org/check?uri=referer', :target => '_blank'} html
      #footercssPanel
        %a{:href=>'http://jigsaw.w3.org/css-validator/check/referer', :target => '_blank'} css
