%h2 Upcoming Meetings
- @upcoming_meetings.each do |up_next|
  = partial :meeting_kind, :locals=>{:next_meeting=>up_next}
  %p.dotline
    %img{:src=>"images/blank.gif", :width => "40", :height => "1", :alt => ""}
  %br
%h2 Past Meetings
- @past_meetings.each do |meeting|
  = partial :meeting_kind, :locals=>{:next_meeting=>meeting}
  %p.dotline
    %img{:src=>"images/blank.gif", :width => "40", :height => "1", :alt => ""}
  %br
