%img{ :src => "/images/i_see_what_you_did_there.jpg" }
%br
%a{:href=>'/'}
  Go Back To
  %br
  %img{:src=>'images/AlamoCoderWhite.png', :title => 'AlamoCoders', :width=>'230', :height=>'80', :border=>'0'}
