%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", "xml:lang" => "en"}
  %style{:type => "text/css", :media => "screen"}
  :css
    body{background-color:#000;color:#333;font-family:Arial,Verdana,sans-serif;text-align:center;}
    a,a:visited,a:active{color:#0080ff;text-decoration:underline;font-size:2em}
    a:hover{text-decoration:none;}
  %head
    %title Random Numbers
  %body
    = yield
