%h2 Our Host
%p
  %a{:href=>'http://www.nhcomputerlearning.com/', :target=> '_blank'} New Horizons
  %br
  %br
%p.dotline
  %img{:src=>"images/blank.gif", :width => "40", :height => "1", :alt => ""}
  %br
%h2 Our Meeting Sponsors
%p
  %a{:href=>'http://bestica.com', :target=>'_blank'} Bestica
  %br
  %a{:href=>'http://roberhalf.com', :target=>'_blank'} Robert Half
  %br
  %a{:href=>'http://www.technisource.com', :target=>'_blank'} Technisource
  %br
  %a{:href=>'http://www.teksystems.com', :target=>'_blank'} Tek Systems
  %br
  %br
%p.dotline
  %img{:src=>"images/blank.gif", :width => "40", :height => "1", :alt => ""}
  %br
%h2 Swag
%p
  %a{:href=>'http://microsoft.com', :target=>'_blank'} Microsoft
  %br
  %br
%p.dotline
  %img{:src=>"images/blank.gif", :width => "40", :height => "1", :alt => ""}
  %br
