%h2 add user
%form{ :action => "/users/add", :method => "post"}
  %p
    %label{:for => "full_name"} Full Name:
    %input{:type => "text", :name => "full_name", :class => "text"}
    %label{:for => "username"} Username:
    %input{:type => "text", :name => "username", :class => "text"}
    %label{:for => "full_name"} Password:
    %input{:type => "password", :name => "password", :class => "text"}
    %input{:type => "submit", :value => "Add", :class => "button"}

%h2 Users
%table.users
  %thead
    %tr
      %td username
      %td full name
      %td delete
  %tbody
    - @users.each do |user|
      %tr
        %td=user.username
        %td=user.full_name
        %td
          %a{:href => "/users/delete/#{user.id}"}
            %img{:src => '/images/delete.png', :title => "Delete #{user}"}
